node_modules
npm-debug.log*
yarn-error.log*
.build
flow-typed
.cache/
public

submission/*
!submission/2018
submission/2018/*
!submission/2018/sushi-kitchen
!submission/2017
submission/2017/*
!submission/2017/vernissage
!submission/2016
submission/2016/*
!submission/2016/midnight-pizza-temptation
!submission/2014
submission/2014/*
!submission/2014/alchemist-defence

